.hero {
  &__img {
    background-image: url(../../../public/images/avatar/avatar.jpg);
    animation: morph 8s ease-in-out infinite;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 35rem;
    transition: all 1s ease-in-out;
    width: 35rem;
  }
}